<div class="chitiettintuc">
    <div>
        {{>header}}
    </div>
    <div class="main-home">
        <div class="poster">
            <img
                src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/poster_trangchu.jpeg'
                alt='ảnh thẻ header'
                style='height: 100px;width: 100%;align-self: center;'
            />
        </div>
        <div class="main-body">
            <div class="list-left">
                <div class="main-list-left">
                    <div class="user_create">
                        <img
                            src={{data.authorImage}}
                            alt='ảnh thẻ header'
                            style='height: 35px;width: 35px;border-radius: 20px;margin-right: 5px;align-self: center; '/>
                        <div class="thongtin_user">
                            <b class="name_page" style="font-weight: 600;font-size: 16px;">{{data.authorName}}</b>
                            <b class="ngay_create">{{{changeNgay data.createdDate}}}</b>
                        </div>    
                    </div>

                    <div class="main_tintuc">
                        <div class="content_main">
                            <p style="" class="title">{{data.title}}</p>
                            <p  style="margin-top:-15px" class="sub_main">{{data.content}}</p>
                        </div>
                        <img
                            src={{data.image}}
                            alt='ảnh thẻ header'
                            style='width: 28%;margin:10px 0;align-self: center; '/>
                    </div>

                    <div class="div_luotxem_cmt">
                        {{#if liked }}
                            <a class="like" href='/thichtintuc/{{data.idNew}}'> <i class="fas fa-thumbs-up"></i><p>{{countLike}}</p></a>
                        {{else}}
                            <a class="like" href='/thichtintuc/{{data.idNew}}'> <i class="fa fa-thumbs-o-up"></i><p>{{countLike}}</p></a>
                        {{/if}}
                        <div class="cmt" style="margin-left: 20px;"> <i class="fa fa-commenting"></i><p>{{countComment}}</p></div>
                    </div>

                    <div class="div_cmt_tintuc">
                        <p>Tham gia bình luận</p>
                        <div style="  width: 100%; display: flex; flex-direction:row; align-items: center;justify-content: center;">
                            <div class="div_main_cmt">
                                {{#if avatar }}
                                    <img
                                    src={{avatar}}
                                    alt='ảnh thẻ header'
                                    style='height: 35px;width: 35px;border-radius: 20px;margin-right: 5px; margin-bottom:12px '/>
                                {{/if}}
                                <div class="div_input_cmt">
                                    <form action="/thembinhluan" method="POST">
                                        <input  type="hidden"  name="userName" value={{username}}
                                                class="form-control" >
                                        <input  type="hidden"  name="userImage" value={{avatar}}
                                                class="form-control" >
                                        <input  type="hidden"  name="newId" value={{data.idNew}}
                                                class="form-control" >
                                        <input  type="hidden"  name="status" value="1"
                                                class="form-control" >
                                        <input  type="hidden"  name="isRead" value="1"
                                                class="form-control" >
            
                                        <input
                                        type='text'
                                        id='searchHeader'
                                        name='content'
                                        placeholder='Tìm kiếm bài viết...'
                                        required=''
                                        />
                                        <button type='submit'><i
                                            class='	fa fa-send'
                                            aria-hidden='true'
                                        ></i></button>
                                    </form>
                                </div>
                            </div>
                         </div>
                    </div>

                    <div class="div_list_cmt_tintuc">
                        {{#each listComment}}
                        <div class="item_cmt">
                            <div class="item_cmt_right">
                                <img
                                src={{this.userImage}}
                                alt='ảnh thẻ header'
                                style='height: 35px;width: 35px;border-radius: 20px;margin-right: 5px; margin-bottom:12px '/>
                                <div class="item_main_cmt">
                                    <p class="name_cmt">{{this.userName}}</p>
                                    <p>{{this.content}}</p>
                                </div>
                                
                            </div>
                            <div class="btn_report">
                                <a href="/baocaobinhluan/{{this.newId}}/{{this.idComment}}"  onclick="return confirm ('Bạn muốn báo cáo bình luận này vi phạm tính cộng đồng ?')">Báo cáo</a>
                                <span class="time_cmt">{{changeNgay this.createdDate}} {{getTime this.createdDate}}</span>
                            </div>
                        </div>
                        
                        
                         {{/each}}
                    </div>
                    
                </div>
            </div>
            <div class='Error'>
              {{#if messages.success}}
                <input id="change-success-chitiettintuc" value="success" type="hidden" >
                </input>
              {{/if}}
            </div>
        </div>
        <div class="footer">
            <div class="item_footer" style="width: 18%;">
                 <span class="title">Về BabyCare</span>
                 <span class="item">Hotline: (+84) 028 3911 8430.</span>
                 <span class="item">Giới thiệu BabyCare</span>
                 <span class="item">Gửi yêu cầu hỗ trợ</span>
            </div>
             <div class="item_footer">
                 <span class="title">Cộng đồng</span>
                 <span class="item">Làm Mẹ</span>
                 <span class="item">Kinh Nghiệm Hay</span>
                 <span class="item">Giải Trí</span>
                 <span class="item">Sức Khoẻ</span>
                 <span class="item">Phong Cách Sống</span>
                 <span class="item">Làm đẹp</span>
            </div>
             <div class="item_footer" style="">
                 <span class="title">Lưu ý người dùng</span>
                 <span class="item">Câu Hỏi Thường Gặp</span>
                 <span class="item">Chính Sách Riêng Tư</span>
                 <span class="item">Điều Khoản Sử Dụng</span>
                 <span class="item">Qui Định Diễn Đàn</span>
            </div>
             <div class="item_footer">
                 <span class="title">Kết nối với chúng tôi</span>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/facebook.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Facebook</span>
                </div>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/youtube.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Youtube</span>
                </div>
                   <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/zalo.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Zalo</span>
                </div>
            </div>

        </div>
        <div class="footer_address">
            <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/logo.png'
                        alt="banner" class="img-reponsive" style="height: 100px;  width: 100px; margin-right:20px">
            <div class="footer_address_info">
                <span class="">Công Ty Cổ Phần BabyCare</span>
                <span class="">Trụ sở: 12 Nguyễn Văn Bảo, Phường 04, Quận Gò Vấp, TP.Hồ Chí Minh.</span>
                <span class="">Điện thoại: (+84) 028 3911 8430 - 093 305 9191.</span>
                <span class="">Email:cskh@babycare.vn</span>
                <span class="">GPTLMXH số 356/GP-BTTTT do Bộ Thông tin và Truyền Thông cấp thay đổi lần 2 ngày 15/07/2022. </span>
            </div>
        </div> 
         
    </div>
 </div>


<script>
const actualBtn = document.getElementById('actual-btn');
const fileChosen = document.getElementById('file-chosen');

actualBtn.addEventListener('change', function(){
  fileChosen.textContent = this.files[0].name;
 let themType = `<input type='submit' class='btnDoiAnh' value='Lưu' />`;
 $('#div_btn_save_avatar').append(themType);
})

</script>

<script>
$(document).ready(function () { myFunction(); });
function myFunction() {
    if(document.getElementById("change-success-chitiettintuc").value){
        customAlertTinTuc.alert('Chúng tôi sẽ xem xét bình luận này! Cảm ơn bạn!' ,'Đã báo cáo bình luận thành công!.' )
    }
    
} 
function CustomAlert(){
  this.alert = function(message,title){
    document.body.innerHTML = document.body.innerHTML + '<div id="dialogoverlay"></div><div id="dialogbox" class="slit-in-vertical"><div><div id="dialogboxhead"></div><div id="dialogboxbody"></div><div id="dialogboxfoot"></div></div></div>';

    let dialogoverlay = document.getElementById('dialogoverlay');
    let dialogbox = document.getElementById('dialogbox');
    
    let winH = window.innerHeight;
    dialogoverlay.style.height = winH+"px";
    
    dialogbox.style.top = "100px";

    dialogoverlay.style.display = "block";
    dialogbox.style.display = "block";
    
    document.getElementById('dialogboxhead').style.display = 'block';

    if(typeof title === 'undefined') {
      document.getElementById('dialogboxhead').style.display = 'none';
    } else {
      document.getElementById('dialogboxhead').innerHTML = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i> '+ title;
    }
    document.getElementById('dialogboxbody').innerHTML = message;
    {{!-- document.getElementById('dialogboxfoot').innerHTML = '<button class="pure-material-button-contained active" onclick="customAlert.ok()">OK</button>'; --}}
  }
  
  this.ok = function(){
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
  }

  setTimeout(function() {  
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
    }, 5000);
}

let customAlertTinTuc = new CustomAlert();
</script>

        
