    <div class="dangtinthanhvien">
    <div>
        {{>header}}
    </div>
    <div class="main-home">
        <div class="poster">
            <img
                src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/poster_trangchu.jpeg'
                alt='ảnh thẻ header'
                style='height: 100px;width: 100%;align-self: center;'
            />
        </div>
        <div class="main-body">
            <div class="list-left">
                <div class="main-list-left">
                    <label>CHIA SẺ KINH NGIỆM CỦA BẠN</label>
                     <div class="form_gui">
                        <form action='/dangtin' id='form-login' method='POST' enctype="multipart/form-data">
                            <div class='div_input_row'>
                                 <input  type="hidden"  name="authorName" value={{username}}
                                                class="form-control" >
                                <input  type="hidden"  name="authorId" value={{userId}}
                                                class="form-control" >
                                <input  type="hidden"  name="authorImage" value={{avatar}}
                                            class="form-control" >
                                <input  type="hidden"  name="status" value=0
                                        class="form-control" >
                                <input  type="hidden"  name="countLike" value=0
                                        class="form-control" >
                                <input  type="hidden"  name="countComment" value=0
                                        class="form-control" >

                                <div class='div_input_row_item'>
                                    <label>Chọn chủ đề bạn muốn đăng: </label>
                                    <select class="form-control" id="ChonLinhVuc" name="typeId">
                                        {{#each data}}
                                            <option value = {{this.idNewType}}>{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class='div_input_row_item'>
                                    <label>Tiêu đề tin <span>(*)</span> :</label>
                                    <input  type="text"  name="title" value=''
                                        class="form-control" >
                                </div>
                                <div class='div_input_row_item'>
                                    <label>Thêm ảnh vào tin :</label>
                                    <input  type="file"  name="image" value=''
                                        class="form-control" >
                                </div>
                                <div class='div_input_row_item'>
                                    <label>Thêm video vào tin :</label>
                                    <input  type="file"  name="video" value=''
                                        class="form-control" multiple>
                                </div>
                                <textarea autocomplete='new-password'
                                    class='input'
                                    id='TinNhan'
                                    name='content'
                                    placeholder='Nhập tin bạn muốn đăng'
                                    required='required'
                                    type='text'
                                    value=''
                                    rows="15" 
                                    cols="40" ></textarea>
                            </div>
                            
                            
                            <div class="div_btn">
                                <input type='submit' class='button btnChangeThongtin' value='GỬI' />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="list-right">
                <div class="div_avatar">
                    <img src={{avatar}}
                        alt='ảnh thẻ header'
                        style='height: 150px;width: 150px;border-radius: 100px;'/>  
                    <p>{{username}}</p> 
                </div>
                {{#ifCond role '==' 1}}
                    <a class="item_menu_right" href='/guitinnhan'>
                        <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconMessage.png'
                            alt='ảnh thẻ header'
                            style='height: 60px;'/>  
                        <p>Tin nhắn</p> 
                    </a>

                    <a class="item_menu_right" href='/danhsachtincho'>
                        <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconNew.png'
                            alt='ảnh thẻ header'
                            style='height: 28px; margin:14px 15px 14px 18px;'/>  
                        <p>Bài viết chờ phê duyệt</p> 
                    </a>
                {{/ifCond}}
                 

                <a class='item_menu_right' href='/doimatkhau'>
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/changePass.png'
                        alt='ảnh thẻ header'
                        style='height: 28px; margin:14px 15px 14px 18px;'/>  
                    <p style='color:red;'>Đổi mật khẩu</p>
                </a>
                 <img
                    src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/poster_right.jpeg'
                    alt='ảnh thẻ header'
                    style='height: 255px;width: 100%;align-self: center; margin-top:10px'
                />
               
            </div>
        </div>
        <div class="footer">
            <div class="item_footer" style="width: 18%;">
                 <span class="title">Về BabyCare</span>
                 <span class="item">Hotline: (+84) 028 3911 8430.</span>
                 <span class="item">Giới thiệu BabyCare</span>
                 <span class="item">Gửi yêu cầu hỗ trợ</span>
            </div>
             <div class="item_footer">
                 <span class="title">Cộng đồng</span>
                 <span class="item">Làm Mẹ</span>
                 <span class="item">Kinh Nghiệm Hay</span>
                 <span class="item">Giải Trí</span>
                 <span class="item">Sức Khoẻ</span>
                 <span class="item">Phong Cách Sống</span>
                 <span class="item">Làm đẹp</span>
            </div>
             <div class="item_footer" style="">
                 <span class="title">Lưu ý người dùng</span>
                 <span class="item">Câu Hỏi Thường Gặp</span>
                 <span class="item">Chính Sách Riêng Tư</span>
                 <span class="item">Điều Khoản Sử Dụng</span>
                 <span class="item">Qui Định Diễn Đàn</span>
                 

            </div>
             <div class="item_footer">
                 <span class="title">Kết nối với chúng tôi</span>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/facebook.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Facebook</span>
                </div>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/youtube.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Youtube</span>
                </div>
                   <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/zalo.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Zalo</span>
                </div>
            </div>

        </div>
        <div class="footer_address">
            <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/logo.png'
                        alt="banner" class="img-reponsive" style="height: 100px;  width: 100px; margin-right:20px">
            <div class="footer_address_info">
                <span class="">Công Ty Cổ Phần BabyCare</span>
                <span class="">Trụ sở: 12 Nguyễn Văn Bảo, Phường 04, Quận Gò Vấp, TP.Hồ Chí Minh.</span>
                <span class="">Điện thoại: (+84) 028 3911 8430 - 093 305 9191.</span>
                <span class="">Email:cskh@babycare.vn</span>
                <span class="">GPTLMXH số 356/GP-BTTTT do Bộ Thông tin và Truyền Thông cấp thay đổi lần 2 ngày 15/07/2022. </span>
            </div>
        </div> 
        
    </div>
 </div>
        
        
<script>
    $(document).ready(function () {
        // hiển thị thông tin về các khoa
        function loadLinhVuc() {
            $.ajax({
                url: '/danhsachtypenew',
                type: 'get',
                dataType: 'json'
            }).done(function (result) {
                if (result.length > 0) {
                    for (let i = 0; i < result.length; i++) {

                        let themType = `
                            <option value = "`+ result[i].name + `">` + result[i].name + `</option>`;
                        $('#ChonLinhVuc').append(themType);
                    }
                }

            });
        }
        loadLinhVuc();
    });
</script>