<div class="danhsachtincho">
    <div>
        {{>header}}
    </div>
    <div class="main-home">
        <div class="main-body">
            <div class="list-left">
                <div class="title_tincho">
                    <span>DANH SÁCH TIN ĐANG CHỜ DUYỆT</span>
                </div>
                <div class="main-list-left">
                   {{#each array}}
                    <a class="item_left_new" href='/chitiettintuc/{{this.idNewTemp}}'>
                        <div class="new_right_info">
                            <div class="item_left_author">
                                <img
                                    src={{this.imageNewType}}
                                    alt='ảnh thẻ header'
                                    style='height: 26px;width: 26px;border-radius: 10px;margin-right: 5px;align-self: center; '/>
                                <b class="name_page">{{this.nameNewType}}</b>
                                <div class="dot_item"></div>
                                <b>{{{changeNgay this.createdDate}}}</b>
                                
                            </div>
                            <div class="item_left_title">
                                <b class="name_page">{{this.title}}</b>
                            </div>
                        </div>
                        <img
                            src={{this.image}}
                            alt='ảnh thẻ header'
                            style='height: 100px;width: 100px;align-self: center; margin:5px 20px 5px 0;'/>
                        </a>
                    {{/each}}
                </div>
            </div>

            <div class="list-right">
                <div class="div_avatar">
                    <img src={{avatar}}
                        alt='ảnh thẻ header'
                        style='height: 150px;width: 150px;border-radius: 100px;'/> 
                    <p style='font-size: 26px; font-weight: 600;'>{{username}}</p> 
                </div>
                <a class="item_menu_right" href='/guitinnhan'>
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconMessage.png'
                        alt='ảnh thẻ header'
                        style='height: 60px;'/>  
                    <p>Tin nhắn</p> 
                </a>

                 <a class="item_menu_right" href='/dangtin'>
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconListNew.png'
                        alt='ảnh thẻ header'
                        style='height: 28px; margin:14px 15px 14px 18px;'/>  
                    <p>Bài viết</p> 
                </a>

                <a class='item_menu_right' href='/doimatkhau'>
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/changePass.png'
                        alt='ảnh thẻ header'
                        style='height: 28px; margin:14px 15px 14px 18px;'/>  
                    <p style='color:red;'>Đổi mật khẩu</p>
                </a>
           
            <div class='Error'>
              {{#if messages.success}}
                <input id="change-success" value="success" type="hidden" >
                </input>
              {{/if}}
            </div>
                
            </div>

        </div>        
    </div>
 </div>
        


<script>
const actualBtn = document.getElementById('actual-btn');
const fileChosen = document.getElementById('file-chosen');

actualBtn.addEventListener('change', function(){
  fileChosen.textContent = this.files[0].name;
 let themType = `<input type='submit' class='btnDoiAnh' value='Lưu' />`;
 $('#div_btn_save_avatar').append(themType);
})

</script>

<script>
$(document).ready(function () { myFunction(); });
function myFunction() {
    if(document.getElementById("change-success").value){
        customAlert.alert('Chỉnh sửa thông tin cá nhân thành công!.' )
    }
    
} 
function CustomAlert(){
  this.alert = function(message,title){
    document.body.innerHTML = document.body.innerHTML + '<div id="dialogoverlay"></div><div id="dialogbox" class="slit-in-vertical"><div><div id="dialogboxhead"></div><div id="dialogboxbody"></div><div id="dialogboxfoot"></div></div></div>';

    let dialogoverlay = document.getElementById('dialogoverlay');
    let dialogbox = document.getElementById('dialogbox');
    
    let winH = window.innerHeight;
    dialogoverlay.style.height = winH+"px";
    
    dialogbox.style.top = "100px";

    dialogoverlay.style.display = "block";
    dialogbox.style.display = "block";
    
    document.getElementById('dialogboxhead').style.display = 'block';

    if(typeof title === 'undefined') {
      document.getElementById('dialogboxhead').style.display = 'none';
    } else {
      document.getElementById('dialogboxhead').innerHTML = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i> '+ title;
    }
    document.getElementById('dialogboxbody').innerHTML = message;
    {{!-- document.getElementById('dialogboxfoot').innerHTML = '<button class="pure-material-button-contained active" onclick="customAlert.ok()">OK</button>'; --}}
  }
  
  this.ok = function(){
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
  }

  setTimeout(function() {  
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
    }, 1000);
}

let customAlert = new CustomAlert();
</script>

        
