<div class="home">
    <div>
        {{>header}}
    </div>
    <div class="main-home">
        <div class="main-body">
            <div class="list-left">
                <div class="div-status">
                     <img
                        src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/logo.png'
                        alt='ảnh thẻ header'
                        style='height: 35px;width: 35px;border-radius: 28px;align-self: center;
                            '
                    />
                    <a class='btnDangKy' href='/dangtin'>
                        <p>Chia sẻ kinh nghiệm của bạn</p>
                    </a>
                </div>
                <div class="main-list-left">
                     {{#each array}}
                    <a class="item_left_new" href='/chitiettintuc/{{this.idNewTemp}}'>
                        <div class="item_left_author">
                             <img
                                src={{this.imageNewType}}
                                alt='ảnh thẻ header'
                                style='height: 26px;width: 26px;border-radius: 10px;margin-right: 5px;align-self: center; '/>
                            <b class="name_page">{{this.nameNewType}}</b>
                            <div class="dot_item"></div>
                            <b>{{this.authorName}}</b>
                            <div class="dot_item"></div>
                            <b>{{{changeNgay this.createdDate}}}</b>
                            
                        </div>
                        <div class="item_left_title">
                            <b class="name_page">{{this.title}}</b>
                        </div>
                        <div class="item_left_comment">
                            <b style="margin-right: 3px;">{{this.countComment}} </b><b> bình luận</b>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            <div class="list-right">
                <div class="header_right_list">
                    <b>Bài viết phổ biến</b>
                </div>
                <div class="main_right_list">
                    {{#each array}}
                    <a class="item_right_new" href='/chitiettintuc/{{this.idNewTemp}}'>
                        <div class="dot_item"></div>
                        <b>{{this.title}}</b>
                    </a>
                    {{/each}}
                </div>
            {{#ifCond role '==' 1}}
                <a class="chat_real_time" href='/guitinnhan'>
                    <img
                        src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconChat.png'
                        alt='ảnh thẻ header'
                        style='height: 60px;width: 60px;border-radius: 30px;box-shadow: 3px 5px 3px #DCDFE4;'/>
                <a/>
            {{/ifCond}}

            </div>
        </div>

        
    </div>
 </div>
        
        
