<div class="home">
    <div>
        {{>header}}
    </div>
    <div class="main-home">
        <div class="poster">
            <img
                src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/poster_trangchu.jpeg'
                alt='ảnh thẻ header'
                style='height: 100px;width: 100%;align-self: center;'
            />
        </div>
  
        <div class="main-body">
            <div class="list-left">
                <div class="div-status">
                    {{#if avatar}}
                        <img
                        src={{avatar}}
                        alt='ảnh thẻ header'
                        style='height: 40px;width: 40px;border-radius: 40px;align-self: center;
                            '
                    />
                    {{/if}}

                    <a class='btnDangKy' href='/dangtin'>
                        <p>Chia sẻ kinh nghiệm của bạn</p>
                    </a>
                </div>
                <div class="main-list-left">
                     {{#each array}}
                    <a class="item_left_new" href='/chitiettintuc/{{this.idNewTemp}}'>
                        <div class="new_right_info">
                            <div class="item_left_author">
                                <img
                                    src={{this.imageNewType}}
                                    alt='ảnh thẻ header'
                                    style='height: 26px;width: 26px;border-radius: 10px;margin-right: 5px;align-self: center; '/>
                                <b class="name_page">{{this.nameNewType}}</b>
                                <div class="dot_item"></div>
                                <b>{{this.authorName}}</b>
                                <div class="dot_item"></div>
                                <b>{{{changeNgay this.createdDate}}}</b>
                                
                            </div>
                            <div class="item_left_title">
                                <b class="name_page">{{this.title}}</b>
                            </div>
                            <div class="item_left_comment">
                                <b style="margin-right: 10px;">{{this.countComment}}  bình luận</b>
                                <div class="dot_item"></div>
                                <b style="margin-left: 10px;">{{this.countLike}}  lượt thích</b>
                            </div>
                        </div>
                        <img
                            src={{this.image}}
                            alt='ảnh thẻ header'
                            style='height: 100px;width: 100px;align-self: center; margin:5px 20px 5px 0;'/>
                        </a>
                    {{/each}}

                    {{#if isNull}}
                        <span class="isNull">Không có bài viết trùng khớp!</span>
                    {{/if}}
                </div>
            </div>
            <div class="list-right">
                <div class="header_right_list">
                    <b>Bài viết phổ biến</b>
                </div>
                <div class="main_right_list">
                    {{#each arraySortNew}}
                    <a class="item_right_new" href='/chitiettintuc/{{this.idNewTemp}}'>
                        <div class="dot_item"></div>
                        <b>{{this.title}}</b>
                    </a>
                    {{/each}}
                </div>
                 <img
                    src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/poster_th.png'
                    alt='ảnh thẻ header'
                    style='height: 500px;width: 100%;align-self: center; margin-top:10px'
                />
                {{#ifCond role '==' 1}}
                    <a class="chat_real_time" href='/guitinnhan'>
                        <img
                            src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconChat.png'
                            alt='ảnh thẻ header'
                            style='height: 60px;width: 60px;border-radius: 30px;box-shadow: 3px 5px 3px #DCDFE4;'/>
                    <a/>
                {{/ifCond}}

            </div>
        </div>
         <div class="footer">
            <div class="item_footer" style="width: 18%;">
                 <span class="title">Về BabyCare</span>
                 <span class="item">Hotline: (+84) 028 3911 8430.</span>
                 <span class="item">Giới thiệu BabyCare</span>
                 <span class="item">Gửi yêu cầu hỗ trợ</span>
            </div>
             <div class="item_footer">
                 <span class="title">Cộng đồng</span>
                 <span class="item">Làm Mẹ</span>
                 <span class="item">Kinh Nghiệm Hay</span>
                 <span class="item">Giải Trí</span>
                 <span class="item">Sức Khoẻ</span>
                 <span class="item">Phong Cách Sống</span>
                 <span class="item">Làm đẹp</span>
            </div>
             <div class="item_footer" style="">
                 <span class="title">Lưu ý người dùng</span>
                 <span class="item">Câu Hỏi Thường Gặp</span>
                 <span class="item">Chính Sách Riêng Tư</span>
                 <span class="item">Điều Khoản Sử Dụng</span>
                 <span class="item">Qui Định Diễn Đàn</span>
                 

            </div>
             <div class="item_footer">
                 <span class="title">Kết nối với chúng tôi</span>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/facebook.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Facebook</span>
                </div>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/youtube.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Youtube</span>
                </div>
                   <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/zalo.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Zalo</span>
                </div>
            </div>

        </div>
        <div class="footer_address">
            <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/logo.png'
                        alt="banner" class="img-reponsive" style="height: 100px;  width: 100px; margin-right:20px">
            <div class="footer_address_info">
                <span class="">Công Ty Cổ Phần BabyCare</span>
                <span class="">Trụ sở: 12 Nguyễn Văn Bảo, Phường 04, Quận Gò Vấp, TP.Hồ Chí Minh.</span>
                <span class="">Điện thoại: (+84) 028 3911 8430 - 093 305 9191.</span>
                <span class="">Email:cskh@babycare.vn</span>
                <span class="">GPTLMXH số 356/GP-BTTTT do Bộ Thông tin và Truyền Thông cấp thay đổi lần 2 ngày 15/07/2022. </span>
            </div>
        </div>        
    </div>
 </div>
        
        
