<div class="listchatCVTVSK">
    <div>
        {{>header}}
    </div>
    <div class="main-home">
        <div class="poster">
            <img
                src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/poster_trangchu.jpeg'
                alt='ảnh thẻ header'
                style='height: 100px;width: 100%;align-self: center;'
            />
        </div>
        <div class="main-body">
            <div class="list-left">
                <div class="header_search_list_chat">
                    <div class='row search-chat'>
                        <form action=''>
                        <input
                            type='text'
                            id='searchHeader'
                            name='searchHeader'
                            placeholder='Tìm kiếm'
                            required=''
                        />
                        <button type='submit'><i
                            class='fa fa-search'
                            aria-hidden='true'
                            ></i></button>
                        </form>
                    </div>

                </div>
                <div class="main_list_chat">
                   {{#each data}}
                        <a class="item_list_chat" href='/cvtvsk/listchat/{{this.userName}}'>
                            <img
                            src={{this.userImage}}
                            alt='ảnh thẻ header'
                            style='height: 50px;width: 50px;border-radius: 30px;'
                            />
                            <div class="info_item">
                                <span style="font-weight: 700; font-size: 20px;">{{this.userName}}</span>
                                <div class="info_item_time">
                                    <span style="font-weight: 400; color:#296088">{{this.chatLatest}}</span>
                                    <span style="color: black;font-size: 14px;">{{changeNgay this.timeChatLatest}} {{getTime this.timeChatLatest}}</span>
                                </div>
                                
                            </div>
                          
                        </a>
                    {{/each}}
                     
                </div>
            </div>

            <div class="list-right">
               
            </div>
        </div>

        <div class="footer">
            <div class="item_footer" style="width: 18%;">
                 <span class="title">Về BabyCare</span>
                 <span class="item">Hotline: (+84) 028 3911 8430.</span>
                 <span class="item">Giới thiệu BabyCare</span>
                 <span class="item">Gửi yêu cầu hỗ trợ</span>
            </div>
             <div class="item_footer">
                 <span class="title">Cộng đồng</span>
                 <span class="item">Làm Mẹ</span>
                 <span class="item">Kinh Nghiệm Hay</span>
                 <span class="item">Giải Trí</span>
                 <span class="item">Sức Khoẻ</span>
                 <span class="item">Phong Cách Sống</span>
                 <span class="item">Làm đẹp</span>
            </div>
             <div class="item_footer" style="">
                 <span class="title">Lưu ý người dùng</span>
                 <span class="item">Câu Hỏi Thường Gặp</span>
                 <span class="item">Chính Sách Riêng Tư</span>
                 <span class="item">Điều Khoản Sử Dụng</span>
                 <span class="item">Qui Định Diễn Đàn</span>
                 

            </div>
             <div class="item_footer">
                 <span class="title">Kết nối với chúng tôi</span>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/facebook.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Facebook</span>
                </div>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/youtube.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Youtube</span>
                </div>
                   <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/zalo.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Zalo</span>
                </div>
            </div>

        </div>
        <div class="footer_address">
            <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/logo.png'
                        alt="banner" class="img-reponsive" style="height: 100px;  width: 100px; margin-right:20px">
            <div class="footer_address_info">
                <span class="">Công Ty Cổ Phần BabyCare</span>
                <span class="">Trụ sở: 12 Nguyễn Văn Bảo, Phường 04, Quận Gò Vấp, TP.Hồ Chí Minh.</span>
                <span class="">Điện thoại: (+84) 028 3911 8430 - 093 305 9191.</span>
                <span class="">Email:cskh@babycare.vn</span>
                <span class="">GPTLMXH số 356/GP-BTTTT do Bộ Thông tin và Truyền Thông cấp thay đổi lần 2 ngày 15/07/2022. </span>
            </div>
        </div> 

        
    </div>
 </div>


        
        
