<div class="thongtincanhanTV">
    <div>
        {{>header}}
    </div>
    <div class="main-home">
        <div class="main-body">
            <div class="list-left">
                <div class="main-list-left">
                    <form action='/chinhsuathongtincanhan/{{data.idUser}}' id='form-login' method='POST'>
                        <input  type="hidden"  name="idUser" value={{data.idUser}}
                            class="form-control" >
                        <input  type="hidden"  name="status" value=1
                            class="form-control" >
                        <input  type="hidden"  name="avatar" value={{data.avatar}}
                            class="form-control" >
                        <input  type="hidden"  name="idAccount" value={{data.idAccount}}
                            class="form-control" >
                        <div class='div_input_row'>
                            <label>Tên đăng nhập</label>
                            <input
                                autocomplete='new-password'
                                class='input'
                                id='TenDangNhap'
                                placeholder='Nhập tên tài khoản'
                                required='required'
                                type='text'
                                value="{{username}}"
                                readonly
                                style="background-color: #DCDFE4;"
                            />
                        </div>
                        <div class='div_input_row'>
                            <label>Họ và tên</label>
                            <input
                                autocomplete='new-password'
                                class='input'
                                id='HoTen'
                                name='name'
                                placeholder='Nhập họ và tên'
                                required='required'
                                type='text'
                                value="{{data.name}}"
                            />
                        </div>

                        <div class='div_input_row'>
                            <label>Ngày sinh</label>
                            <input
                                autocomplete='new-password'
                                class='input'
                                id='NgaySinh'
                                name='dateOfBirth'
                                placeholder='Nhập ngày sinh'
                                required='required'
                                type='text'
                                value="{{data.dateOfBirth}}"
                            />
                        </div>

                        <div class='div_input_row'>
                            <label>Giới tính</label>
                            <select class="form-control" id="ChonGioiTinh" name="gender">
                                <option value="Nữ">Nữ</option>
                                <option value="Nam">Nam</option>
                            </select>
                            
                        </div>

                        <div class='div_input_row'>
                            <label>CMND/CCCD</label>
                            <input
                                autocomplete='new-password'
                                class='input'
                                id='TenDangNhap'
                                name='cccd'
                                placeholder='Nhập CMND/CCCD'
                                required='required'
                                type='text'
                                value="{{data.cccd}}"
                            />
                        </div>
                        <div class='div_input_row'>
                            <label>Ngày cấp</label>
                            <input
                                autocomplete='new-password'
                                class='input'
                                id='HoTen'
                                name='dateOfIssue'
                                placeholder='Nhập ngày cấp'
                                required='required'
                                type='text'
                                value="{{ data.dateOfIssue}}"
                            />
                        </div>

                        <div class='div_input_row'>
                            <label>Nơi cấp</label>
                            <input
                                autocomplete='new-password'
                                class='input'
                                id='NgaySinh'
                                name='issuedBy'
                                placeholder='Nhập nơi cấp'
                                required='required'
                                type='text'
                                value="{{data.issuedBy}}"
                            />
                        </div>
                        
                        <div class="div_btn">
                            <input type='submit' class='button btnChangeThongtin' value='LƯU' />
                        </div>

                    </form>
                </div>
            </div>

            <div class="list-right">
                <div class="div_avatar">
                    <img src={{avatar}}
                        alt='ảnh thẻ header'
                        style='height: 150px;width: 150px;border-radius: 100px;'/>  
                    <div class="div_btn">
                        <input type='submit' class='btnDoiAnh' value='Đổi ảnh' />
                    </div>
                    <p style='font-size: 26px; font-weight: 600;'>{{data.name}} ({{username}})</p> 
                </div>
                <a class="item_menu_right" href='/guitinnhan'>
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconMessage.png'
                        alt='ảnh thẻ header'
                        style='height: 60px;'/>  
                    <p>Tin nhắn</p> 
                </a>

                 <a class="item_menu_right">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconListNew.png'
                        alt='ảnh thẻ header'
                        style='height: 28px; margin:14px 15px 14px 18px;'/>  
                    <p>Bài viết</p> 
                </a>

                 <a class="item_menu_right">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconNew.png'
                        alt='ảnh thẻ header'
                        style='height: 28px; margin:14px 15px 14px 18px;'/>  
                    <p>Bài viết chờ phê duyệt</p> 
                </a>

                <a class='item_menu_right' href='/home'>
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/changePass.png'
                        alt='ảnh thẻ header'
                        style='height: 28px; margin:14px 15px 14px 18px;'/>  
                    <p style='color:red;'>Đổi mật khẩu</p>
                </a>
                
            </div>
        </div>

        
    </div>
 </div>
        
        
